*{
    margin:0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
    margin-top: 131px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}.bannertitle{

    color: rgb(12, 12, 12);
}

.bannerdesc{
    font-size: 26px;
    margin-left: 200px;
    margin-right: 200px;

    color: rgb(37, 36, 36);

}
.contact{
    border-radius: 8px;
    padding: 21px 24px;
    font-size: 23px;
    background-color: rgb(19, 22, 32);
    color: rgb(255, 255, 255);

}

.why{
    border-radius: 16px;
    background-color: rgb(232, 232, 235);
    padding: 80px 97px;
    margin-left: 148px;
    margin-right: 148px;
    text-align: center;
}
.whybanner{
    height: 100%;
    width: 100%;
}
.whytitle{

}
.whydesc{
    font-size: 26px;
}
.why1{
border-radius: 16px;
padding: 48px;
background-color: white;
display: flex;
gap: 98.83px;
text-align: left;
}
.why2{
    border-radius: 16px;
    padding: 48px;
    background-color: white;
    text-align: left;
    display: flex;
    gap: 98.83px;
    text-align: left;
}

.inspiration{
    margin-left: 148px;
    margin-right: 148px;
    text-align: center;
    
}
.iframe{
border-radius: 16px;
background-color: rgb(247, 247, 253);
border: 1px solid rgb(168, 168, 170);
padding: 32px;
}
.video{
border-radius: 16px;
}