@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
}

.navigate {
    margin-left: 150px;
    margin-right: 166px;
    display: flex;
    justify-content: space-between;
}

.download {}

.banner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.bannertitle {
    color: rgb(12, 12, 12);
}

.bannerdesc {
    font-size: 26px;
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(37, 36, 36);
}

.contact {
    border-radius: 8px;
    padding: 21px 24px;
    font-size: 23px;
    background-color: #0D1321;
    color: rgb(255, 255, 255);
}

.why {
    border-radius: 16px;
    background-color: #FAFAFB;
    padding: 80px 97px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.whybanner {
    height: 100%;
    width: 100%;
}

.whytitle {}

.whydesc {
    font-size: 26px;
}

.why1 {
    border-radius: 16px;
    padding: 48px;
    background-color: white;
    display: flex;
    gap: 98.83px;
    text-align: left;
    justify-content: space-between;
}

.why2 {
    border-radius: 16px;
    padding: 48px;
    background-color: white;
    text-align: left;
    display: flex;
    gap: 98.83px;
    text-align: left;
    justify-content: space-between;
}

.inspiration {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.iframe {
    border-radius: 16px;
    background-color: white;
    border: 1px solid #F3F3F4;
    padding: 32px;
}

.video {
    border-radius: 16px;
}

.target {
    margin-left: 150px;
    margin-right: 150px;
}

.targettitle {
    text-align: center;
}

.targetcard {
    display: flex;
    gap: 24px;
}

.html {
    padding: 40px;
    border-radius: 16px;
    background-color: #FFF6F4;
}

.css {
    padding: 40px;
    border-radius: 16px;
    background-color: #F2F6FE;
}

.js {
    padding: 40px;
    border-radius: 16px;
    background-color: #FFFDF2;
}

.nexttarget {
    text-align: center;
}

.react {
    display: flex;
    gap: 24px;
    border-radius: 16px;
    padding: 40px;
    border: 1px solid #B8B8B9;
    text-align: left;
}

.node {
    display: flex;
    gap: 24px;
    border-radius: 16px;
    padding: 40px;
    border: 1px solid #B8B8B9;
    text-align: left;
}

.mongo {
    display: flex;
    gap: 24px;
    border-radius: 16px;
    padding: 40px;
    border: 1px solid #B8B8B9;
    text-align: left;
}

.support {
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 16px;
    padding: 64px 48px;
    background-image: url(./assets/handshake.jpg);
    background-color: rgb(51, 51, 51);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
}

#about {

    background-color: #F7F7F8;
}

.info {
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
}